
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model WebApplication4.Models.BlogPost

@{
    ViewBag.Title = @Model.Title;
}
<style>
    body {
        background: linear-gradient(to bottom, #003366, #00BFFF);
        min-height: 100vh;
        margin: 0;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        display: flex;
        flex-direction: column;
    }
  
    .card-img-top {
        width: 100%; /* Ensures the image takes full width of the card */
        height: 300px; /* Set a fixed height */
        object-fit: cover; /* Ensures the image covers the area without distortion */
    }
</style>
<h2>@Model.Title</h2>

<p>Posted by @Model.Author on @Model.PostedOn.ToString("MMMM dd, yyyy")</p>
<p>@Model.Content</p>

